.container
  .col-md-12
    .row
      img.logo(alt="Jedbangers" src="./assets/images/logo.png")

    .row
      audio(controls)
        source(src="/stream" type="audio/mpeg")
        | Your browser does not support the audio element.

    .row
      form.content-code-form

        .form-group
          label(for="") Codigo exclusivo
          input.input-lg.form-control(type="text" placeholder="ej: O6Z6Z6Y")
          //- p.help-block Example block-level help text here.

        button.btn.btn-lg.btn-default Canjear codigo
