.container
  .col-md-12
    .row
      img.logo(alt="Jedbangers" src="./assets/images/logo.png")

    .row.vertical-space

    .row(ng-controller="RedeemCodeController as redeemCode")
      form.content-code-form(ng-if="!redeemCode.contentCode" name="redeemCode.contentCodeForm")

        .alert.alert-danger.alert-dismissable(ng-show="redeemCode.error")
          button.close(ng-click="redeemCode.clearErrors()") &times;
          span.glyphicon.glyphicon-exclamation-sign
          span.sr-only Error
          | &nbsp;
          | {{ redeemCode.error.title }}
          br
          | {{ redeemCode.error.message }}

        .form-group
          label(for="") Codigo exclusivo
          input.input-lg.form-control(
            type        = "text"
            ng-model    = "redeemCode.code"
            placeholder = "ej: O6Z6Z6Y"
          )

        button.btn.btn-lg.btn-default(
          type        = "submit"
          ng-disabled = "!redeemCode.code"
          ng-click    = "redeemCode.doRedeem()"
        ) Canjear codigo

      div(ng-if="redeemCode.contentCode")
        h3 {{ redeemCode.contentCode.name }}
        audio(controls)
          source(ng-src="{{ redeemCode.contentSource() }}" type="audio/mpeg")
          | Your browser does not support the audio element.
