.container
  .col-md-12
    .row
      img.logo(alt="Jedbangers" src="./assets/images/logo.png")

    .row.vertical-space

    .row.redeem-code-container(ng-controller="RedeemCodeController as redeemCode")
      .loading-spinner(ng-if="redeemCode.loading")
        span(us-spinner="{ lines: 6, speed: 2, length: 0, width: 10, radius: 10 }")

      form(
        ng-if     = "!redeemCode.loading && !redeemCode.contentCode"
        name      = "redeemCode.contentCodeForm"
        ng-submit = "redeemCode.doRedeem()"
      )

        .alert.alert-danger.alert-dismissable(ng-show="redeemCode.error")
          button.close(ng-click="redeemCode.clearErrors()") &times;
          .text-left
            small.glyphicon.glyphicon-exclamation-sign
            small.sr-only Error
            small &nbsp;
            small {{ redeemCode.error.title }}


          .text-center
            small &nbsp; &nbsp; &nbsp; &nbsp;
            small
              strong {{ redeemCode.error.message }}

        .form-group
          label(for="") Codigo exclusivo
          input.input-lg.form-control(
            type        = "text"
            ng-model    = "redeemCode.code"
            placeholder = "ej: O6Z6Z6Y"
          )

        button.btn.btn-lg.btn-default(
          type        = "submit"
          ng-disabled = "!redeemCode.code"
        ) Canjear codigo

      div(ng-if="!redeemCode.loading && redeemCode.contentCode")
        h3 {{ redeemCode.contentCode.name }}
        audio(controls)
          source(ng-src="{{ redeemCode.contentSource() }}" type="audio/mpeg")
          | Your browser does not support the audio element.
