@import '~bootstrap/less/bootstrap.less';

@redeemCodeContainerMinHeight: 50px;

body {
  background-image : url(../assets/images/bg.png);
  text-align       : center;
  padding-top      : 40px;

  .form-group {
    text-align: left;
  }

  .redeem-code-container {
    min-height : @redeemCodeContainerMinHeight;

    form {
      max-width: 320px;
      margin: 0 auto;
    }

    .loading-spinner {
      position: relative;

      // Override spin.js settings
      .spinner {
        width   : inherit !important;
        z-index : 2000000000 !important;
        left    : 50% !important;
        top     : @redeemCodeContainerMinHeight / 2 !important;
      }
    }

    .content-code {
      max-width: 700px;
      margin: 0 auto;

      h3 {
        margin-top: 0;
      }

      .content-code-image {
        width: 200px;
        height: auto;
        border-radius: 5px;
      }

      .back-button-container {
        margin-top: 20px;
      }
    }
  }

  .vertical-space {
    height: 30px;
  }
}
