@import '~bootstrap/less/bootstrap.less';
@import '~bootswatch/cyborg/variables.less';
@import '~bootswatch/cyborg/bootswatch.less';

@redeemCodeContainerMinHeight: 50px;

body {
  background-image : url(../assets/images/bg_dark.png);
  text-align       : center;
  padding-top      : 40px;

  .form-group {
    text-align: left;
  }

  .logo {
    max-width: 175px;
    height: auto;
  }

  .redeem-code-container {
    min-height : @redeemCodeContainerMinHeight;

    form {
      max-width: 320px;
      margin: 0 auto;
    }

    .loading-spinner {
      position: relative;

      // Override spin.js settings
      .spinner {
        width   : inherit !important;
        z-index : 2000000000 !important;
        left    : 50% !important;
        top     : @redeemCodeContainerMinHeight / 2 !important;
      }
    }

    .content-code {
      max-width: 1000px;
      margin: 0 auto;

      h3 {
        margin-top: 0;
      }

      .content-code-image {
        width: auto;
        max-height: 200px;
        border-radius: 5px;
      }

      .content-item-container {
        padding-top: 12px;
        border-top: 1px solid dimgray;
      }

      .content-item-list {
        padding-left: 0;
      }

    }
  }

  .vertical-space {
    height: 30px;
  }
}
