@import '~bootstrap/less/bootstrap.less';
@import '~bootswatch/cyborg/variables.less';
@import '~bootswatch/cyborg/bootswatch.less';

@font-face {
  font-family : 'distress';
  src         : url('../assets/fonts/distress.ttf') format('truetype');
  font-weight : normal;
  font-style  : normal;
}

@redeemCodeContainerMinHeight: 50px;

body {
  background-image : url(../assets/images/bg_dark.png);
  text-align       : center;
  padding-top      : 40px;

  .form-group {
    text-align: left;
  }

  .logo {
    max-width: 175px;
    height: auto;
  }

  .jedbangers {
    font-family: 'distress';
  }

  .redeem-code-container {
    min-height : @redeemCodeContainerMinHeight;

    form {
      max-width: 320px;
      margin: 0 auto;
    }

    .loading-spinner {
      position: relative;

      // Override spin.js settings
      .spinner {
        width   : inherit !important;
        z-index : 2000000000 !important;
        left    : 50% !important;
        top     : @redeemCodeContainerMinHeight / 2 !important;
      }
    }

    .content-code {
      max-width: 1000px;
      margin: 0 auto;

      h3 {
        margin-top: 0;
      }

      .content-code-image {
        width           : 100px;
        height          : 100px;
        border-radius   : 5px;
        background-size : cover;
      }

      .content-item-row {
        margin-bottom : 20px;
      }

      .content-item-container {
        border-top  : 1px solid dimgray;
        padding-top : 12px;
      }

      .content-item-index-container {
        text-align: right;
        padding-right: 0;
      }

    }
  }

  .vertical-space {
    height: 30px;
  }

  .truncate-text {
    white-space   : nowrap;
    text-overflow : ellipsis;
    width         : 90%;
    overflow      : hidden;
  }
}



// Footer
@footerHeight: 60px;

html, body { height: 100%; }
body {
  .main-container {
    height: 100%;

    .wrapper {
      min-height : 100%;
      margin     : 0 auto -@footerHeight;
    }

    .footer, .footer-push {
      height: @footerHeight;
    }
  }
}
